In [1]:
# NBA Contract Value Analysis
## Day 2: Data Collection, Exploration, and Initial Cleaning

In [20]:
import pandas as pd
import numpy as np
!pip install psycopg2-binary
import psycopg2
conn = psycopg2.connect(
    host="aws-1-us-west-1.pooler.supabase.com",
    port="6543",
    dbname="postgres",
    user="postgres.sigmumejgwpiomgkveht",
    password="Ayayonuro$7007$",
    sslmode="require"
)
cur = conn.cursor()
cur.execute("SELECT version();")  # ask the DB for its version
print(cur.fetchone())             # prints something like ('PostgreSQL 15.x ...',)

cur.close()
conn.close()

Requirement already satisfied: psycopg2-binary in c:\users\hundo\onedrive\desktop\nba_contract_value_analysis\venv\lib\site-packages (2.9.10)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

('PostgreSQL 17.6 on aarch64-unknown-linux-gnu, compiled by gcc (GCC) 13.2.0, 64-bit',)

In [19]:
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("data/raw/nba_stats_2025.csv")
print(df.shape)
print(df.head())

(737, 32)
    Rk                   Player   Age Team  Pos     G    GS    MP    FG   FGA  \
0  NaN                      NaN   NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
1  1.0  Shai Gilgeous-Alexander  26.0  OKC   PG  76.0  76.0  34.2  11.3  21.8
2  2.0    Giannis Antetokounmpo  30.0  MIL   PF  67.0  67.0  34.2  11.8  19.7
3  3.0             Nikola Jokić  29.0  DEN    C  70.0  70.0  36.7  11.2  19.5
4  4.0              Luka Dončić  25.0  2TM   PG  50.0  50.0  35.4   9.2  20.5

   ...  DRB   TRB   AST  STL  BLK  TOV   PF   PTS                    Awards  \
0  ...  NaN   NaN   NaN  NaN  NaN  NaN  NaN   NaN                       NaN
1  ...  4.1   5.0   6.4  1.7  1.0  2.4  2.2  32.7  MVP-1DPOY-10CPOY-8ASNBA1
2  ...  9.7  11.9   6.5  0.9  1.2  3.1  2.3  30.4         MVP-3DPOY-8ASNBA1
3  ...  9.9  12.7  10.2  1.8  0.6  3.3  2.3  29.6         MVP-2CPOY-2ASNBA1
4  ...  7.4   8.2   7.7  1.8  0.4  3.6  2.5  28.2                       NaN

   Player-additional
0              -9999
1          gilgesh01
2          antetgi01
3          jokicni01
4          doncilu01

[5 rows x 32 columns]

In [7]:
df = df[df["Rk"].notna()]

In [11]:
print(df.shape)
print(df.head())

(735, 32)
    Rk                   Player   Age Team Pos     G    GS    MP    FG   FGA  \
1  1.0  Shai Gilgeous-Alexander  26.0  OKC  PG  76.0  76.0  34.2  11.3  21.8
2  2.0    Giannis Antetokounmpo  30.0  MIL  PF  67.0  67.0  34.2  11.8  19.7
3  3.0             Nikola Jokić  29.0  DEN   C  70.0  70.0  36.7  11.2  19.5
4  4.0              Luka Dončić  25.0  2TM  PG  50.0  50.0  35.4   9.2  20.5
5  4.0              Luka Dončić  25.0  DAL  PG  22.0  22.0  35.7   9.8  21.2

   ...  DRB   TRB   AST  STL  BLK  TOV   PF   PTS                    Awards  \
1  ...  4.1   5.0   6.4  1.7  1.0  2.4  2.2  32.7  MVP-1DPOY-10CPOY-8ASNBA1
2  ...  9.7  11.9   6.5  0.9  1.2  3.1  2.3  30.4         MVP-3DPOY-8ASNBA1
3  ...  9.9  12.7  10.2  1.8  0.6  3.3  2.3  29.6         MVP-2CPOY-2ASNBA1
4  ...  7.4   8.2   7.7  1.8  0.4  3.6  2.5  28.2                       NaN
5  ...  7.6   8.3   7.8  2.0  0.4  3.4  2.6  28.1                       NaN

   Player-additional
1          gilgesh01
2          antetgi01
3          jokicni01
4          doncilu01
5          doncilu01

[5 rows x 32 columns]

In [12]:
df["Rk"] = df["Rk"].astype("Int64")

In [13]:
df[["Rk", "Player"]].head(10)

    Rk                   Player
1    1  Shai Gilgeous-Alexander
2    2    Giannis Antetokounmpo
3    3             Nikola Jokić
4    4              Luka Dončić
5    4              Luka Dončić
6    4              Luka Dončić
7    5          Anthony Edwards
8    6             Jayson Tatum
9    7             Kevin Durant
10   8             Tyrese Maxey

In [14]:
df.dtypes

Rk                     Int64
Player                object
Age                  float64
Team                  object
Pos                   object
G                    float64
GS                   float64
MP                   float64
FG                   float64
FGA                  float64
FG%                  float64
3P                   float64
3PA                  float64
3P%                  float64
2P                   float64
2PA                  float64
2P%                  float64
eFG%                 float64
FT                   float64
FTA                  float64
FT%                  float64
ORB                  float64
DRB                  float64
TRB                  float64
AST                  float64
STL                  float64
BLK                  float64
TOV                  float64
PF                   float64
PTS                  float64
Awards                object
Player-additional     object
dtype: object