In [485]:
# NBA Contract Value Analysis
## Data Collection, Exploration, and Initial Cleaning

In [526]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
from sqlalchemy import text
import unidecode
# Load environment variables from the .env file
load_dotenv()

#load datasets to sql server

db_url = (
    f"postgresql+psycopg2://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}"
    f"@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
)

engine = create_engine(db_url)

# Connect securely using variables
conn = psycopg2.connect(
    host=os.getenv("DB_HOST"),
    port=os.getenv("DB_PORT"),
    dbname=os.getenv("DB_NAME"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    sslmode="require"
)
cur = conn.cursor()
cur.execute("SELECT version();")  # ask the DB for its version
print(cur.fetchone())             # prints something like ('PostgreSQL 15.x ...',)

cur.close()
conn.close()

('PostgreSQL 17.6 on aarch64-unknown-linux-gnu, compiled by gcc (GCC) 13.2.0, 64-bit',)

In [527]:
stats = pd.read_csv("../data/raw/nba_stats_2025.csv")
contracts = pd.read_csv("../data/raw/nba_salaries_2025.csv")
adv = pd.read_csv("../data/raw/nba_advanced_2025.csv")

pd.read_sql("SELECT COUNT(*) FROM contracts", engine)

#print(stats.shape)
#print(stats.head())
#print(contracts.shape)
#print(contracts.head())

   count
0    536

In [528]:
## Cleaning Player Stats Dataset

In [529]:
# Rename columns for standardized querying
stats = stats.rename(columns={
    "Rk": "rank",
    "Player": "player",
    "Age": "age",
    "Team": "team",
    "Pos": "position",
    "G": "games",
    "GS": "games_started",
    "MP": "minutes_per_game",
    "FG": "fg_made",
    "FGA": "fg_attempts",
    "FG%": "fg_pct",
    "3P": "three_p_made",
    "3PA": "three_p_attempts",
    "3P%": "three_p_pct",
    "2P": "two_p_made",
    "2PA": "two_p_attempts",
    "2P%": "two_p_pct",
    "eFG%": "efg_pct",
    "FT": "ft_made",
    "FTA": "ft_attempts",
    "FT%": "ft_pct",
    "ORB": "off_rebounds",
    "DRB": "def_rebounds",
    "TRB": "total_rebounds",
    "AST": "assists",
    "STL": "steals",
    "BLK": "blocks",
    "TOV": "turnovers",
    "PF": "personal_fouls",
    "PTS": "points_per_game",
    "Player-additional": "player_id"   # keep as join key
})
print(stats.columns.tolist())

['rank', 'player', 'age', 'team', 'position', 'games', 'games_started', 'minutes_per_game', 'fg_made', 'fg_attempts', 'fg_pct', 'three_p_made', 'three_p_attempts', 'three_p_pct', 'two_p_made', 'two_p_attempts', 'two_p_pct', 'efg_pct', 'ft_made', 'ft_attempts', 'ft_pct', 'off_rebounds', 'def_rebounds', 'total_rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'personal_fouls', 'points_per_game', 'Awards', 'player_id']

In [530]:
# CLean nba stats data set to no longer include "NaN" and change type from float to Int
stats = stats[stats["rank"].notna()]
stats["rank"] = stats["rank"].astype("Int64")

In [531]:
#  Remove duplicate rows for multi-team players (2TM, 3TM)
#  Identify all players with combined season rows ("2TM", "3TM")
#  Drop their individual team rows (DAL, LAL, etc.)
#  Keep only their multi-team total row for the full-season summary
multi_team_players = stats[stats["team"].str.contains("TM")]["player"].unique()
stats = stats[~((stats["player"].isin(multi_team_players)) & (~stats["team"].str.contains("TM")))
]

In [532]:
# Check for amount of multi-team players
print("Number of multi-team players:", len(multi_team_players))
# multi_team_players.head(10)

Number of multi-team players: 81

In [533]:
# Columns should be integers, then confirm
int_cols =["rank", "games", "age", "games_started"] 
stats[int_cols] = stats[int_cols].astype("Int64")
stats.dtypes[int_cols]

rank             Int64
games            Int64
age              Int64
games_started    Int64
dtype: object

In [534]:
### Dropping `Awards` Column
# The `Awards` column was removed because:
# - It contained inconsistent strings (e.g., "MVP-10" = 10th in MVP voting, not an actual MVP award).
# - Many `2TM` summary rows were missing awards, leading to incomplete or misleading data.
# - Awards are subjective recognition and less relevant to our core analysis (salary vs. performance).
# By removing this column, we simplify the dataset and focus on reliable, objective performance metrics.
stats = stats.drop(columns=["Awards"], errors="ignore")

In [535]:
"Awards" in stats.columns

False

In [536]:
# Filter out low participation players
#stats = stats[(stats["games"] >= 41) & (stats["minutes_per_game"] >= 10)]

In [537]:
# Clean names in stats dataset
stats["player"] = stats["player"].apply(unidecode.unidecode)
stats["player"] = stats["player"].str.strip()

In [538]:
# Remove duplicates and reset index
stats = stats.drop_duplicates(subset=["player", "team"])
stats = stats.reset_index(drop=True)

In [539]:
# Final Check
print("Final dataset shape:", stats.shape)
print(stats.head())

Final dataset shape: (569, 31)
   rank                   player  age team position  games  games_started  \
0     1  Shai Gilgeous-Alexander   26  OKC       PG     76             76
1     2    Giannis Antetokounmpo   30  MIL       PF     67             67
2     3             Nikola Jokic   29  DEN        C     70             70
3     4              Luka Doncic   25  2TM       PG     50             50
4     5          Anthony Edwards   23  MIN       SG     79             79

   minutes_per_game  fg_made  fg_attempts  ...  off_rebounds  def_rebounds  \
0              34.2     11.3         21.8  ...           0.9           4.1
1              34.2     11.8         19.7  ...           2.2           9.7
2              36.7     11.2         19.5  ...           2.9           9.9
3              35.4      9.2         20.5  ...           0.8           7.4
4              36.3      9.1         20.4  ...           0.8           4.9

   total_rebounds  assists  steals  blocks  turnovers  personal_fouls  \
0             5.0      6.4     1.7     1.0        2.4             2.2
1            11.9      6.5     0.9     1.2        3.1             2.3
2            12.7     10.2     1.8     0.6        3.3             2.3
3             8.2      7.7     1.8     0.4        3.6             2.5
4             5.7      4.5     1.2     0.6        3.2             1.9

   points_per_game  player_id
0             32.7  gilgesh01
1             30.4  antetgi01
2             29.6  jokicni01
3             28.2  doncilu01
4             27.6  edwaran01

[5 rows x 31 columns]

In [540]:
# After cleaning, saved the processed dataset into a separate folder
stats.to_csv("../data/clean/nba_stats_clean.csv", index=False)
print("Cleaned dataset saved successfully.")

Cleaned dataset saved successfully.

In [541]:
# Cleaning advanced stats data set
# Format advanced stats column names for SQL querying 

adv = adv.rename(columns={
    "Rk": "rank",
    "Player": "player",
    "Age": "age",
    "Team": "team",
    "Pos": "position",
    "G": "games",
    "GS": "games_started",
    "MP": "minutes_played",
    "PER": "per",
    "TS%": "ts_pct",
    "3PAr": "threepar",
    "FTr": "ftr",
    "ORB%": "orb_pct",
    "DRB%": "drb_pct",
    "TRB%": "trb_pct",
    "AST%": "ast_pct",
    "STL%": "stl_pct",
    "BLK%": "blk_pct",
    "TOV%": "tov_pct",
    "USG%": "usg_pct",
    "OWS": "ows",
    "DWS": "dws",
    "WS": "ws",
    "WS/48": "ws_per_48",
    "OBPM": "obpm",
    "DBPM": "dbpm",
    "BPM": "bpm",
    "VORP": "vorp",
    "Awards": "awards",
    "Player-additional": "player_id"
})

print(adv.columns.tolist())

['rank', 'player', 'age', 'team', 'position', 'games', 'games_started', 'minutes_played', 'per', 'ts_pct', 'threepar', 'ftr', 'orb_pct', 'drb_pct', 'trb_pct', 'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'ows', 'dws', 'ws', 'ws_per_48', 'obpm', 'dbpm', 'bpm', 'vorp', 'awards', 'player_id']

In [542]:
# Cleaning advanced stats data set

# Identify players who have a total multi-team row (e.g., "2TM", "3TM", "4TM", etc.)
multi_team_players_adv = adv[adv["team"].str.contains("tm", case=False, na=False)]["player"].unique()

# Remove their team-specific rows (e.g., BRK, DET, GSW), keeping only their "2TM"/"3TM" row
adv = adv[~((adv["player"].isin(multi_team_players_adv)) & (~adv["team"].str.contains("tm", case=False, na=False)))
]

In [543]:
# Convert numeric columns to correct types
int_cols = ["rank", "age", "games", "games_started", "minutes_played"]
float_cols = [
    "per", "ts_pct", "threepar", "ftr", "orb_pct", "drb_pct", "trb_pct",
    "ast_pct", "stl_pct", "blk_pct", "tov_pct", "usg_pct",
    "ows", "dws", "ws", "ws_per_48", "obpm", "dbpm", "bpm", "vorp"
]

adv[int_cols] = adv[int_cols].apply(pd.to_numeric, errors="coerce").astype("Int64")
adv[float_cols] = adv[float_cols].apply(pd.to_numeric, errors="coerce")

In [544]:
# Clean names in advanced stats dataset
adv["player"] = adv["player"].apply(unidecode.unidecode)
adv["player"] = adv["player"].str.strip()

In [545]:
# Remove duplicates and reset index
adv = adv.drop_duplicates(subset=["player", "team"])
adv = adv.reset_index(drop=True)

In [546]:
# Dropping `Awards` Column
adv = adv.drop(columns=["awards"], errors="ignore")
"awards" in adv.columns

False

In [547]:
# Final Check
print("Final dataset shape:", adv.shape)
print(adv.head())

Final dataset shape: (570, 29)
   rank           player  age team position  games  games_started  \
0     1    Mikal Bridges   28  NYK       SF     82             82
1     2        Josh Hart   29  NYK       SG     77             77
2     3  Anthony Edwards   23  MIN       SG     79             79
3     4     Devin Booker   28  PHO       SG     75             75
4     5     James Harden   35  LAC       PG     79             79

   minutes_played   per  ts_pct  ...  usg_pct  ows  dws   ws  ws_per_48  obpm  \
0            3036  14.0   0.585  ...     19.6  3.7  2.0  5.7      0.090   0.4
1            2897  16.5   0.611  ...     15.3  5.4  3.8  9.2      0.153   1.1
2            2871  20.1   0.595  ...     31.4  4.6  3.8  8.4      0.140   4.4
3            2795  19.3   0.589  ...     29.3  6.1  0.3  6.4      0.111   2.8
4            2789  20.0   0.582  ...     29.6  4.0  4.3  8.3      0.143   3.5

   dbpm  bpm  vorp  player_id
0  -0.9 -0.5   1.2  bridgmi01
1   1.8  2.8   3.6   hartjo01
2   0.0  4.3   4.6  edwaran01
3  -2.4  0.4   1.7  bookede01
4   0.8  4.3   4.4  hardeja01

[5 rows x 29 columns]

In [548]:
# After cleaning, saved the processed dataset into a separate folder
adv.to_csv("../data/clean/nba_adv_stats_clean.csv", index=False)
print("Cleaned dataset saved successfully.")

Cleaned dataset saved successfully.

In [549]:
# Cleaning player salaries data set

In [550]:
# Rename contracts column names

contracts = contracts.rename(columns={
    "Player": "player",
    "Team": "team",
    "Salary": "salary"
})

In [551]:
# Clean salary column, Remove $ and commas, Strip whitespace, Convert to integer

contracts["salary"] = (
    contracts["salary"]
    .astype(str)
    .str.replace("$", "", regex=False)
    .str.replace(",", "", regex=False)
    .str.strip()
    .astype(int)
    )

contracts.head()

          player team    salary
0  Stephen Curry  GSW  55761216
1    Joel Embiid  PHI  51415938
2   Nikola Jokic  DEN  51415938
3   Kevin Durant  PHO  51179021
4   Bradley Beal  PHO  50203930

In [552]:
# Standardize texts for consistency and drop duplicates
contracts["player"] = contracts["player"].str.strip()
contracts["team"] = contracts["team"].str.strip().str.upper()
contracts = contracts.drop_duplicates(subset=["player", "team"])

contracts.head()

          player team    salary
0  Stephen Curry  GSW  55761216
1    Joel Embiid  PHI  51415938
2   Nikola Jokic  DEN  51415938
3   Kevin Durant  PHO  51179021
4   Bradley Beal  PHO  50203930

In [553]:
# Check for missing values and standardize column name for querying
print(contracts.isnull().sum())

player    0
team      0
salary    0
dtype: int64

In [554]:
# After cleaning, saved the processed dataset into a separate folder
contracts.to_csv("../data/clean/nba_contracts_clean.csv", index=False)
print("Cleaned dataset saved successfully.")

Cleaned dataset saved successfully.

In [555]:
# Send clean data sets to SQL database
stats.to_sql("stats", engine, if_exists="replace", index=False)
contracts.to_sql("contracts", engine, if_exists="replace", index=False)
adv.to_sql("adv", engine, if_exists="replace", index=False)

570

In [556]:
# Connect notebook to SQL join query files

with open("../sql/join_stats_contracts.sql", "r") as file:
    query = file.read()

joined_df = pd.read_sql(query, engine)
joined_df.tail()

,rank,player,age,team,position,games,games_started,minutes_per_game,fg_made,fg_attempts,...,def_rebounds,total_rebounds,assists,steals,blocks,turnovers,personal_fouls,points_per_game,player_id,salary
503,214,Zach Edey,22,MEM,C,66,55,21.5,3.8,6.6,...,4.8,8.3,1.0,0.5,1.3,1.3,2.8,9.2,edeyza01,5756880
504,29,Zach LaVine,29,2TM,SG,74,74,35.2,8.4,16.5,...,4.0,4.3,4.2,0.8,0.2,2.8,1.6,23.3,lavinza01,44531940
505,462,Zeke Nnaji,24,DEN,PF,57,4,10.7,1.2,2.5,...,1.0,1.6,0.4,0.4,0.7,0.2,1.1,3.2,nnajize01,8888889
506,192,Ziaire Williams,23,BRK,SF,63,45,24.5,3.4,8.3,...,3.6,4.6,1.3,1.0,0.4,1.1,2.4,10.0,willizi02,6133005
507,17,Zion Williamson,24,NOP,PF,30,30,28.6,9.6,16.9,...,4.7,7.2,5.3,1.2,0.9,3.0,2.7,24.6,willizi01,36725670

In [574]:
with open("../sql/check_unmatched_players.sql", "r") as file:
    query = file.read()

pd.set_option("display.max_rows", 1000)

df_check = pd.read_sql(query, engine)
display(df_check)

                    category                 player
0    Stats but not Contracts             Tolu Smith
1    Stats but not Contracts       Keion Brooks Jr.
2    Stats but not Contracts        Tosan Evbuomwan
3    Stats but not Contracts       Tristan Vukcevic
4    Stats but not Contracts          Tyson Etienne
5    Stats but not Contracts             KJ Simpson
6    Stats but not Contracts         Oscar Tshiebwe
7    Stats but not Contracts           Damion Baugh
8    Stats but not Contracts        Daeqwon Plowden
9    Stats but not Contracts        Jeff Dowtin Jr.
10   Stats but not Contracts        Lester Quinones
11   Stats but not Contracts              Dru Smith
12   Stats but not Contracts           N'Faly Dante
13   Stats but not Contracts            Isaiah Wong
14   Stats but not Contracts       Collin Gillespie
15   Stats but not Contracts        Quenton Jackson
16   Stats but not Contracts         Keaton Wallace
17   Stats but not Contracts             Jamal Cain
18   Stats but not Contracts             Alex Reese
19   Stats but not Contracts              Kai Jones
20   Stats but not Contracts       Alondes Williams
21   Stats but not Contracts          Jaylen Martin
22   Stats but not Contracts         Trevelin Queen
23   Stats but not Contracts           Micah Potter
24   Stats but not Contracts        Kessler Edwards
25   Stats but not Contracts            Cam Spencer
26   Stats but not Contracts         Ron Harper Jr.
27   Stats but not Contracts            Emoni Bates
28   Stats but not Contracts           Jackson Rowe
29   Stats but not Contracts                JT Thor
30   Stats but not Contracts         Jamaree Bouyea
31   Stats but not Contracts        Elijah Harkless
32   Stats but not Contracts             Taze Moore
33   Stats but not Contracts             Pete Nance
34   Stats but not Contracts            RayJ Dennis
35   Stats but not Contracts         David Duke Jr.
36   Stats but not Contracts          Reece Beekman
37   Stats but not Contracts           Trey Jemison
38   Stats but not Contracts       Christian Koloko
39   Stats but not Contracts            Mason Jones
40   Stats but not Contracts           Miles Norris
41   Stats but not Contracts          Drew Peterson
42   Stats but not Contracts    TyTy Washington Jr.
43   Stats but not Contracts        Enrique Freeman
44   Stats but not Contracts       Josh Christopher
45   Stats but not Contracts           Adama Sanogo
46   Stats but not Contracts           Adam Flagler
47   Stats but not Contracts        Trentyn Flowers
48   Stats but not Contracts           Jahmir Young
49   Stats but not Contracts             Alex Ducas
50   Stats but not Contracts                PJ Hall
51   Stats but not Contracts         Emanuel Miller
52   Stats but not Contracts          Yuki Kawamura
53   Stats but not Contracts           Jack McVeigh
54   Stats but not Contracts           Armel Traore
55   Stats but not Contracts         Jazian Gortman
56   Stats but not Contracts     Kevin McCullar Jr.
57   Stats but not Contracts         Quincy Olivari
58   Stats but not Contracts           Jacob Toppin
59   Stats but not Contracts         Trey Alexander
60   Stats but not Contracts          Spencer Jones
61   Stats but not Contracts          Jalen Bridges
62   Stats but not Contracts         Daniss Jenkins
63   Stats but not Contracts         Bryce McGowens
64   Stats but not Contracts           Luke Travers
65   Stats but not Contracts        Isaiah Crawford
66   Stats but not Contracts          Justin Minaya
67   Stats but not Contracts           Anton Watson
68   Stats but not Contracts            D.J. Carton
69   Stats but not Contracts        Harrison Ingram
70   Stats but not Contracts         Ulrich Chomche
71   Stats but not Contracts           Liam Robbins
72   Stats but not Contracts          Stanley Umude
73   Stats but not Contracts             Cui Yongxi
74   Stats but not Contracts         Tristen Newton
75   Stats but not Contracts          Jesse Edwards
76   Stats but not Contracts            Mac McClung
77   Stats but not Contracts            Riley Minix
78   Stats but not Contracts            Zyon Pullin
79   Stats but not Contracts         Isaiah Stevens
80   Contracts but not Stats       Bojan Bogdanović
81   Contracts but not Stats             Saddiq Bey
82   Contracts but not Stats          Davis Bertans
83   Contracts but not Stats           Nikola Topic
84   Contracts but not Stats            Cody Zeller
85   Contracts but not Stats          Nassir Little
86   Contracts but not Stats           DaRon Holmes
87   Contracts but not Stats         Christian Wood
88   Contracts but not Stats         Dewayne Dedmon
89   Contracts but not Stats       Keita Bates-Diop
90   Contracts but not Stats      Charlie Brown Jr.
91   Contracts but not Stats           JaVale McGee
92   Contracts but not Stats   Duane Washington Jr.
93   Contracts but not Stats       Kennedy Chandler
94   Contracts but not Stats           Eric Bledsoe
95   Contracts but not Stats           Joshua Primo
96   Contracts but not Stats           Nik Stauskas
97   Contracts but not Stats           Juwan Morgan
98   Contracts but not Stats            Malik Fitts
99   Contracts but not Stats         Mamadi Diakite
100  Contracts but not Stats            Ricky Rubio
101  Contracts but not Stats           Didi Louzada
102  Contracts but not Stats             AJ Griffin
103  Contracts but not Stats         Eugene Omoruyi
104  Contracts but not Stats           Kevon Harris
105  Contracts but not Stats  Javon Freeman-Liberty
106  Contracts but not Stats         Erik Stevenson
107  Contracts but not Stats          Javante McCoy

In [580]:
# Opened up SQL file that ran the player value analysis view and now commented out to mitigate unnecessary error when running notebook
with engine.begin() as conn:
    conn.execute(text(open("../sql/player_value_analysis.sql").read()))

In [584]:
query = "SELECT * FROM player_value_analysis ORDER BY salary ASC LIMIT 10;"
df_value_analysis = pd.read_sql(query, engine)
display(df_value_analysis)

,player,team,position,games,mpg,ppg,ast,reb,salary,per,ts_pct,ws,bpm,vorp
0,Braxton Key,GSW,SF,3,3.7,1.0,0.0,0.7,11997,1.1,0.226,-0.1,-13.6,0.0
1,Isaiah Mobley,PHI,PF,1,17.0,6.0,5.0,4.0,11997,17.2,0.381,0.0,4.7,0.0
2,JD Davison,BOS,PG,16,5.8,2.1,0.8,0.8,11997,6.5,0.445,-0.2,-6.2,-0.1
3,Brandon Williams,DAL,PG,33,14.8,8.3,2.3,1.8,47989,18.3,0.634,1.3,1.0,0.4
4,Terence Davis,SAC,SG,1,8.0,0.0,1.0,1.0,64301,-4.0,0.000,0.0,-16.9,0.0
5,Phillip Wheeler,PHI,PF,5,8.8,1.6,0.4,1.6,66503,-2.3,0.183,-0.3,-18.2,-0.2
6,Yuri Collins,GSW,PG,2,8.0,1.0,2.0,1.5,66503,13.9,0.333,0.1,0.3,0.0
7,Nae'Qwan Tomlin,CLE,PF,5,12.6,7.2,0.4,4.2,66503,14.4,0.489,0.1,-5.5,-0.1
8,Kylor Kelley,2TM,C,11,11.5,3.1,0.5,3.5,73153,12.1,0.644,0.3,-5.4,-0.1
9,Jaylen Sims,CHO,SG,6,18.7,7.0,2.0,1.0,73153,9.8,0.607,0.1,-4.1,-0.1